
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form  method="post" id="formLogin">
    账号：<input type="text" name="username" value="" />
    密码：<input type="password" name="password" value="" />

    验证码：<input type="text" name="captcha" /><img id="imgCaptcha" />
    <input type="submit" name="name" value="" id="btnLogin" />
</form>

<a href="~/Home/Register">注册</a>


@section Scripts{

<script>

    $("#imgCaptcha").click(function () {
        $(this).attr("src", "/Home/CreateCaptCha?ts=" + Math.random());
    }).click();
    $("#btnLogin").click(function () {
        var data = $("#formLogin").serializeArray();
        $.ajax({
            url: "/Home/Login",
            type: "post",
            dataType: "json",
            data: data,
            success: function (res) {
                //alert(res.msg)
                if (res.status == "ok") {
                    alert(res.msg);
                    window.location.href = "/Home/Login";
                }
                else
                {
                    alert(res.msg);
                    window.location.href = "/Home/Login";
                }

            }, error: function () {
                alert("网络错误！");
                $("#imgCaptcha").click();
                window.location.href = "/Home/Login";

            }

        })

    })
</script>
}



